.project-card {
  width: 30ch;
  height: 30ch;
  background: grey;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 3px solid white;
}
  .App-header {
    height: 100%;
    width: 100%;
  }

  .pc1 {
    position: absolute;
    right: 53%;
    top: 15%;
    background-image: url('../about/data/Griipe.JPG');
  }
  
  .pc2 {
    position: absolute;
    right: 31%;
    top: 15%;
    background-image: url('../about/data/TripSplit.JPG');
  }
  
  .pc3 {
    position: absolute;
    right: 31%;
    top: 54%;
    background-image: url('../about/data/Pintereach.JPG');
  }
  
  .pc4 {
    position: absolute;
    right: 53%;
    top: 54%;
    background-image: url('../about/data/Guidr.JPG');
  }
  
  .projects-header {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 2rem;
  }
  
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }

  .project-card:hover {
    z-index: 5;
  }

  .icon-one {
    color: #D7FFFE;
    height: 3rem;
    width: 3rem;
    border: 3px solid #D7FFFE;
    border-radius: 32px;
    margin: 0 auto;
    margin: 79% 42%;
  }
  
  .icon-two {
    color: black;
    height: 3rem;
    width: 3rem;
    border: 3px solid black;
    border-radius: 32px;
    margin: 0 auto;
    margin: 79% 42%;
  }

  .mobile-project-card {
    display: none;
  }
  .mobile-card-header {
    display: none;
  }
  .mobile-card-body {
    display: none;
  }
  .mobile-card {
    display: none;
  }
  .mobile-card-link {
    display: none;
  }
  .fa-3x {
    display: none;
  }

  @media only screen and (max-width: 1200px) {
    .pc2 {
      right: 16%;
    }
    .pc3 {
      right: 16%;
    }
    .mobile-project-card {
      display: none;
    }
    .mobile-card-header {
      display: none;
    }
    .mobile-card-body {
      display: none;
    }
    .mobile-card {
      display: none;
    }
    .mobile-card-link {
      display: none;
    }
    .fa-3x {
      display: none;
    }
  }

  @media only screen and (max-width: 800px) {
  .pc1 {
    right: 52%;
  }
  .pc2 {
    right: 13%;
  }
  .pc3 {
    right: 13%;

  }
  .pc4 {
    right: 52%;
  }
  .mobile-project-card {
    display: none;
  }
  .mobile-card-header {  
    display: none;
  }
  .mobile-card-body {
    display: none;
  }
  .mobile-card {
    display: none;
  }
  .mobile-card-link {
    display: none;
  }
  .fa-3x {
    display: none;
  }
}

  @media only screen and (max-width: 600px) {
    .pc1 {
      display: none;
    }
    .pc2 {
      display: none;
    }
    .pc3 {
      display: none;
    }
    .pc4 {
      display: none;
    }
    .mobile-project-header-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .mc1 {
    margin: 1rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(-225deg, rgba(177, 238, 255, 0.088), rgba(177, 238, 255, 0.2));
    }
    .mobile-card-header {
      display: block;
      margin: 5px;
      font-size: 1.5rem;
    }
    .mobile-card-body {
      display: block;
      margin-left: 5px;
      font-size: 0.9rem;
      margin-top: -16px;
    }
    .mobile-card-details {
      display: block;
    }
    .mobile-card-link {
      display: block;
    }
    .fa-3x {
      display: block;
      width: 1em;
      color: black;
      border: 3px solid black;
      border-radius: 37px;
      margin: 3px 5px 0 0;
    }
    .projects-header {
      margin: 4rem auto 0rem auto;
    }
  }

  @media only screen and (max-width: 330px) {
    .mobile-card-header {
      font-size: 1.25rem;
    }
    .projects-header {
      font-size: 1.5rem;
    }
  }