.about-container {
    background-image: linear-gradient(-225deg, #ECE9E6 0%, #FFFFFF 100%);
    display: flex;
    min-height: 100%;
  }

  .bg {
    position: absolute;
    max-width: 42vw;
  max-height: 53vh;
    width: 500ch;
    height: 400ch;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    border-radius: 3px;
  }
  
  .photo-container {
    border-radius: 3px;
    max-width: 42vw;
    max-height: 53vh;
    width: 500ch;
    height: 400ch;
    box-shadow: 10px 30px 100px -10px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    will-change: opacity;
  }

.about-card-container {
  max-width: 42vw;
    max-height: 53vh;
    padding: 2.5rem;
    border-radius: 3px;
    background: white;
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
}

.about-photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stack-logo {
  max-height: 4rem;
  margin: 0px 5px;
}

.tech-stack-header {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin-top: 6vh;
  margin-bottom: 1rem;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-header {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin: 2vh;
}

.top-content {
  font-size: 0.85rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin-top: -18px;
}

.about-content {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 0.85rem;
}

.about-nav {
  margin-top: 0px;
}

@media only screen and (max-width: 600px) {
  .bg {
    display: none;
  }
  .photo-container {
    display: none;
  }
}