.nav-container {
    margin-top: 22px;
    display: flex;
}

.primary-nav {
    position: absolute;
    right: 247px;
    margin-top: 5px;
    text-decoration: none;
    font-size: x-large;
    color: black;
    z-index: 1;
}

.secondary-nav {
    position: absolute;
    right: 136px;
    margin-top: 5px;
    text-decoration: none;
    font-size: x-large;
    color: black;
    z-index: 1;
}

.third-nav {
    position: absolute;
    right: 30px;
    margin-top: 5px;
    text-decoration: none;
    font-size: x-large;
    color: black;
    z-index: 1;
}

.nav3 {
    margin-right: -19px;
}

.nav4 {
    margin-right: -19px;
}

.primary-nav:hover {
    color: rgb(177, 238, 255);
}

.secondary-nav:hover {
    color: rgb(177, 238, 255);
}
.third-nav:hover {
    color: rgb(177, 238, 255);
}